/* Add application styles & imports to this file! */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

body {
  background-color: #f0f0f0;
  font-family: poppins;
  font-weight: 700;
  padding: 10px;
}
.center-items {
  display: flex;
  justify-content: center; /* centers items horizontally */
  align-items: center; /* centers items vertically */
}

form {
  display: flex;

}
section {
  padding-top:20px;
  background-color: #ffffff;
  border-radius: 24px 24px 100px 24px;
  width:min-content;
  height: 500px;
}
label {
  color: #716f6f;
  font-weight:700;
  font-size: small;
}
fieldset {
  border: none;
}

input[type="number"] {
  font-family: poppins;
  font-size:20px;
  font-weight: 800;
  width: 50px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
}
.date {
  color: #854dff;
  margin-right:10px;
}
hr {
  border-top-color: #eee;
  margin: 20px;
}

.output {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-content:center;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 800;
  font-size: 50px;
  line-height: 20px;
  letter-spacing: -0.02em;
}
